<div>
    <p>{{ transformed }}</p>
    <p>
        {% if original %}
          <strong>Original: </strong>{{ original }}<br>
        {% endif %}
        {% if type %}
            <strong>Type: </strong>{{ type }}
        {% endif %}
    </p>
</div>
